.hidden{
    display:none;
}
body{

    background-color: #2d3436;
    text-align: center;
    color: #eee;
    padding: 1%;
}
.js-temp{
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-size: 22px;
    padding-left: 90%;
}

.js-place{
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-size: 24px;
    padding-left: 90%;
}

h1{
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-size: 130px;
    margin-top:8%;
    margin-bottom: 0px;
}
h4{   
    font-family: proxima-nova, sans-serif;
    font-size:96px;
    margin: 0px 0px;
}
h5{
    font-family: proxima-nova, sans-serif;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 10px;
}
input {
    border: none;
    background: transparent;
    font-size: 22px;
    margin: 3px;
    text-align:center;
    color: #ecf0f1;
    border-bottom: 2px solid #ecf0f1;
}
img{

    top:0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
    position: absolute;
    opacity: 80%;   
}

li:before{
    font-family: proxima-nova, sans-serif;
    font-size : 24px;
    content:'✅';
    display: inline;
    vertical-align: left;
    padding: 5px;
}

button{
    border: none;
    background: transparent;
    font-size: 22px;
}
.quotes{
    padding-top:26px;
    font-family: proxima-nova, sans-serif;
    font-size : 18px;    
}